.Gif{
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    display: flex;
    margin: 16px;
    padding: 32px;
    flex-direction: column;
    width: 100%;
}

.Gif h4{
    margin: 0;
}


.Gif img{
    object-fit: contain;
}